.form{
    padding: 80px;
}

ion-img{
    transform: scale(.5);
  }

  ion-button{
    width: 80%;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px ;
    --background: linear-gradient(to right, #5DE0E6, #004AAD);

  }

h5{
    text-align: center;
}