.form{
    margin-top: none;
}

ion-img{
    transform: scale(.5);
  }

.form{
    padding: 80px;

    h5{
        text-align: center;
    }
  }

ion-button {
    --background: linear-gradient(to right, #5DE0E6, #004AAD);
    padding-top: 50px ;

}